<div class="vip-info-box">
	<form action="">
		<div class="info-group userimg clearfix">
			<legend>修改头像</legend>
			<div class="info-item">
				<div class="fileup"></div>
				<input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
			</div>
		</div>

		<div class="info-group clearfix">
			<legend>用户昵称</legend>
			<div class="info-item">
				<input type="text">
			</div>
		</div>

		<div class="info-group clearfix">
			<legend>性别</legend>
			<div class="info-item">11111</div>
		</div>
	</form>
</div>