<div class="vip-main-box">
	<h1 class="main-title">我关注的项目</h1>
	<div class="main-line"></div>
	<section class="main-body clearfix">
		<div class="main-item">
			<div class="item-box clearfix">
				<img src="static/app/images/infoimg.jpg" alt="">
				<div class="item-info">
					<h1>《犹太人在上海》</h1>
					<h2>by 中国星</h2>
					<div class="item-process">
						<div style="width: 50%"></div>
					</div>
					<div>已筹资：<span class="font-blod">￥ 123455</span></div>
				</div>
			</div>
		</div>

		<div class="main-item">
			<div class="item-box clearfix">
				<img src="static/app/images/infoimg.jpg" alt="">
				<div class="item-info">
					<h1>《犹太人在上海》</h1>
					<h2>by 中国星</h2>
					<div class="item-process">
						<div style="width: 50%"></div>
					</div>
					<div>已筹资：<span class="font-blod">￥ 123455</span></div>
				</div>
			</div>
		</div>

		<div class="main-item">
			<div class="item-box clearfix">
				<img src="static/app/images/infoimg.jpg" alt="">
				<div class="item-info">
					<h1>《犹太人在上海》</h1>
					<h2>by 中国星</h2>
					<div class="item-process">
						<div style="width: 50%"></div>
					</div>
					<div>已筹资：<span class="font-blod">￥ 123455</span></div>
				</div>
			</div>
		</div>

		<div class="main-item">
			<div class="item-box clearfix">
				<img src="static/app/images/infoimg.jpg" alt="">
				<div class="item-info">
					<h1>《犹太人在上海》</h1>
					<h2>by 中国星</h2>
					<div class="item-process">
						<div style="width: 50%"></div>
					</div>
					<div>已筹资：<span class="font-blod">￥ 123455</span></div>
				</div>
			</div>
		</div>
	</section>
</div>