header {
    border-bottom: 1px solid #dadadb;
    .header-box {
        width: 1200px;
        margin: 0 auto;
        line-height: 70px;
    }
}

header ul {
    float: left;
}

header ul li {
    float: left;
    padding: 0 30px;
    color: #828282;
}

header ul li.nav:hover,
header ul li.active {
    background: #f4f7f7
}

header .loginBox {
    float: right;
    padding: 0 20px;
}

.loginBox a {
    padding: 0 10px;
    color: #ff4305;
}

header .logoBox {
    font-size: 24px;
    font-weight: 700;
}

header .logoBox .cl1 {
    color: #130b06;
}

header .logoBox .cl2 {
    color: #ff4103;
}

.search input {
    padding-left: 30px;
    border: 0;
    background: url(images/sprite-list.png);
    background-position: 0 -1542px;
}

input:focus {
    outline: 0
}

.slideBox {
    width: 1200px;
    height: 596px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.slideBox img {
    width: 100%;
    display: block;
}

.slideBox a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.slidePoint {
    position: absolute;
    z-index: 2;
    color: #fff;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.slidePoint span {
    background: rgb(238, 238, 238);
    display: inline-block;
    width: 50px;
    margin: 0 2px;
    cursor: pointer;
    font-size: 0;
    height: 5px;
    &.active {
        background: #b4ddfd;
    }
}

.hotBox {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0 60px 80px;
    border-bottom: 1px solid #dadadb;
    background: #f7fafa;
}

.hotBox .hotLeft {
    float: left;
    width: 870px;
    margin-right: 35px;
}

.hotBox .hotRight {
    float: left;
}

.hotTitle {
    font-size: 20px;
    color: #130905;
    font-weight: 700;
    position: relative;
}

.hotTitle a {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #828786;
    font-weight: 500;
    font-size: 14px;
}

.hotLeft section {
    margin-top: 35px;
}

.hotLeft section img {
    width: 320px;
    float: left;
    margin-right: 25px;
}

.hotInfo {
    float: left;
    width: 525px;
}

.infoH1 {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    margin-bottom: 5px;
}

.infoH4 {
    font-size: 12px;
    color: #828587;
    margin-bottom: 20px;
}

.infoP {
    font-size: 12px;
    color: #828587;
    line-height: 20px;
    margin-bottom: 30px;
}

.tv {
    padding-left: 20px;
    background: url(images/sprite-list.png);
    margin-right: 35px;
}

.tv1 {
    background-position: 0 -1868px;
}

.tv2 {
    background-position: 0 -1934px;
}

.process {
    width: 100%;
    height: 8px;
    background: #d7d9de;
    margin-top: 10px;
    border-radius: 4px;
    position: relative;
}

.process .processChild {
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    bottom: 0;
    background: #ff4100;
}

.ulList {
    margin-top: 10px;
}

.ulList ul.ul1 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.ulList li {
    float: left;
}

.ulList li.w1 {
    width: 60px;
}

.ulList li.w2 {
    width: 80px;
}

.hotRight ul {
    border-left: 1px solid #d8dbdb;
}

.hotRight li {
    padding-left: 20px;
    line-height: 35px;
    font-size: 12px;
    color: #160d0d;
    border-left: 3px solid transparent;
}

.hotRight li:hover,
.hotRight li.active {
    border-left: 3px solid #ff4301;
    color: #ff4301;
}

.tvmainTitle {
    width: 1040px;
    margin: 0 auto;
    padding: 30px 0;
}

.tvmainTitle div {
    float: left;
    font-size: 18px;
    color: #000;
    line-height: 40px;
    font-weight: 700;
}

.tvmainTitle a {
    float: right;
    color: #808383;
    font-size: 12px;
    padding: 4px 6px;
    margin-top: 7px;
    border: 1px solid #808383;
    border-radius: 4px;
}

.tvList {
    width: 1080px;
    margin: 0 auto;
}

.tvList section {
    float: left;
    width: 360px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.tvItem {
    border-radius: 4px;
    border: 1px solid #ddd;
}

.tvItem img {
    width: 100%;
}

.itemInfo {
    padding: 12px 10px;
}

footer {
    width: 100%;
    background: #150d08;
}

footer .navList {
    width: 1040px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    color: #828788;
}

footer .navleft {
    float: left;
}

footer .navleft span:hover {
    color: #ff4007;
    cursor: pointer;
}

footer .navright {
    float: right;
}

footer .navcl1 {
    font-size: 24px;
    color: #fff;
}

footer .navcl2 {
    font-size: 24px;
    color: #ff4302
}
