.vip-main-box {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 30px 35px 15px;
    margin-bottom: 15px;
    .main-title{
    	border-left: 4px solid #42affc;
    	font-weight: 700;
    	padding-left: 8px;
    	font-size: 14px;
    	color: #180d0e;
    	line-height: 26px;
    }
    .main-line{
    	margin-top: 8px;
    	border-top: 1px solid #dadadb;
    	height: 1px;
    }
    .main-body{
    	margin: 0 -15px;
    	padding: 30px 0 0;
    	.main-item{
    		float: left;
    		width: 410px;
    		padding: 0 15px;
    		margin-bottom: 20px;
			.item-box{
				border: 1px solid #dddddd;
				height: 110px;
				overflow: hidden;
				position: relative;
				img{
					width: 140px;
					height: 110px;
				}
				.item-info{
					position: absolute;
					left: 160px;
					right: 20px;
					top: 15px;
					font-size: 12px;
					h1{
						color: #000;
						font-weight: 700;
						font-size: 14px;
					}
					.item-process{
						height: 4px;
						border-radius: 4px;
						background: #d7d9de;
						position: relative;
						margin: 15px 0 10px;
						div{
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							border-radius: 4px;
							background: #ff1916;
						}
					}
					.font-blod{
						color: #000;
						font-weight: 700;
					}
				}
			}
    	}
    }
    .main-hot-body{
    	margin-left: -17px;
    	padding: 30px 0 0;
    	.item-box{
    		float: left;
    		width: 270px;
    		padding-left: 17px;
    		padding-bottom: 20px;
    		.item-group{
    			border: 1px solid #dededf;
    			border-radius: 4px;
    			>img{
    				height: 180px;
    				display: block;
    				width: 100%;
    			}
    			.item-info{
    				padding: 15px 6px;
    				>h1{
    					font-weight: 700;
    					font-size: 12px;
						color: #000;
						margin-bottom: 8px;
    				}
					.item-desc{
						font-size: 10px;
						color: #828585;
						line-height: 16px;
						height: 48px;
					}
					.item-sp{
						margin: 18px 0;
						height: 6px;
						background-color: #d9d8de;
						border-radius: 4px;
						.item-sp2{
							height: 6px;
							background-color: #fd4400;
							border-radius: 4px;
						}
					}
					>ul{
						li{
							float: left;
							padding-right: 20px;
							font-size: 12px;
							>h1{
								color: #000;
								font-weight: 700;
							}
							>p{
								margin-top: 2px;
								color: #828585;
							}
						}
					}
    			}
    		}
    	}
    }
}
